<div class="row height-all">
    <!--
        Left column
    -->
    <div class="col-md-3 col-sm-3 hidden-xs
                height-all settings-panel">
        <div style="height: 20px"></div>
        <form>
            <div class="form-group">
                <label for="inputServers">Servers</label>
                <input ng-model="fsServers" type="text" class="form-control" id="inputServers" placeholder="Comma separated list of servers">
            </div>
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input ng-model="fsUsername" type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input ng-model="fsPassword" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>

            <button ng-click="refresh()" class="btn btn-primary">Refresh</button>

            <span ng-show="lastRefreshString">Last updated {{ lastRefreshString }}.</span>
        </form>
    </div>

    <!--
        Main body
    -->
    <div class="col-md-9 col-sm-9 col-xs-12
                height-all">
        <pre class="height-all vertical-scroll no-margin no-padding">{{ listData | json }}</pre>
    </div>

    <!--
        Message Dialog
    -->
    <div id="dlgMessage" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ messageDialogTitle }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ messageDialogText }}</p>
                    <a data-toggle="collapse" href="#dlgMessageDetails">View details</a>
                    <div class="collapse" id="dlgMessageDetails">
                        <pre>{{ messageDialogDetails | json }}</pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>