<div id="wrapper" ng-class="{ toggled: !isSettingsVisible }">
    <!--
        Left column
    -->
    <div id="sidebar-wrapper" class="height-all vertical-crop settings-panel">
        <form class="settings-panel-content">
            <h4>SETTINGS</h4>
            <div class="form-group">
                <label for="inputServers">Servers</label>
                <input ng-model="settings.servers" type="text" class="form-control" id="inputServers" placeholder="Comma separated list of servers">
            </div>
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input ng-model="settings.username" type="text" class="form-control" id="inputUsername" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input ng-model="settings.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="inputAutoRefreshInterval">Auto refresh (in seconds)</label>

                <div class="input-group">
                    <input ng-model="settings.autoRefreshInterval" type="text" class="form-control" id="inputAutoRefreshInterval">

                    <span class="input-group-btn">
                        <button ng-click="toggleAutoRefresh()" class="btn btn-success" ng-class="{ active: isAutoRefreshEnabled }">
                            {{ isAutoRefreshEnabled ? "Disable" : "Enable" }}
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </form>
    </div>

    <!--
        Main body
    -->
    <div id="page-content-wrapper" class="height-all vertical-scroll no-padding">
        <nav class="navbar navbar-inverse navbar-noborder">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">fs-mgmt</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left">
                        <button ng-click="toggleSettings()" class="btn btn-default" ng-class="{ active: isSettingsVisible }">
                            {{ isSettingsVisible ? "Hide" : "Show" }} Settings
                        </button>
                    </form>
                    <form class="navbar-form navbar-right">
                        <!--<span class="text-white" ng-show="lastRefreshString">Last updated {{ lastRefreshString }}.</span>-->
                        <span class="text-white" data-moment-format="Last updated %s." ng-moment-ago="lastRefresh">
                        </span>
                        <button ng-click="refresh()" class="btn btn-primary" ng-class="{ disabled: isAutoRefreshEnabled }">
                            {{ isAutoRefreshEnabled ? "Auto Refreshing.." : "Refresh" }}
                        </button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="server in servers">
                        <h3>{{ server.name }}</h3>

                        <span ng-show="server.conferences.length == 0">No conferences on this server</span>

                        <div ng-repeat="conference in server.conferences">

                            <div class="list-conference-title">
                                <h4 class="list-conference-name">{{ conference.name }}</h4>

                                <button ng-click="copyToClipboard(conference.name)" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                                </button>

                                <button ng-confirm-click="hangup(server, conference, null)"
                                        class="btn btn-default btn-sm">Hangup all</button>

                                <button class="btn btn-default btn-sm" style="white-space: nowrap" ng-popover
                                        data-container="body" data-toggle="popover" data-placement="right"
                                        data-content="{{ conference.flags }}" data-trigger="focus">Show flags</button>

                                <button ng-show="conference.isRecording" ng-click="showRecordingStatus(server, conference)"
                                        class="btn btn-default btn-sm">Recording status</button>
                            </div>

                            <table class="table table-bordered table-striped table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Register</th>
                                    <th>Channel Id</th>
                                    <th>Caller Id Name</th>
                                    <th>Caller Id Number</th>
                                    <th>Entitlements</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-class="{ success: !member.isInternalCall }" ng-repeat="member in conference.members">
                                    <td>{{ member.id }}</td>
                                    <td>{{ member.participantRegister }}</td>
                                    <td>
                                        {{ member.channelId }}
                                        <button ng-click="copyToClipboard(member.channelId)" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td>{{ member.callerIdName }}</td>
                                    <td>{{ member.callerIdNumber }}</td>
                                    <td>{{ member.entitlements }}</td>
                                    <td>
                                        <button ng-confirm-click="hangup(server, conference, member)"
                                                class="btn btn-default btn-sm">Hangup</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>