.ng-cloak {
	display: none;
}

.height-all {
    height: 100% !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.vertical-scroll {
    overflow-y: scroll;
}

/* Conference List */
.settings-panel {
    background-color: #222222;
    color: #dddddd;
    font-size: 11pt;
}

.list-conference-title {
    margin-bottom: 10px;
}

.list-conference-name {
    display: inline;
}