.ng-cloak {
	display: none;
}

.height-all {
    height: 100% !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.vertical-scroll {
    overflow-y: auto;
}

.vertical-crop {
    overflow-y: hidden !important;
}

.text-white {
    color: #dddddd;
}

/* Conference List */
.navbar-noborder {
    border-radius: 0 !important;
}

.settings-panel {
    border-right: solid 1px #cccccc;
    background-color: #eeeeee !important;
    color: #333333;
    font-size: 11pt;
}

.settings-panel .settings-panel-content {
    margin: 10px;
}

.list-conference-title {
    margin-bottom: 10px;
}

.list-conference-name {
    display: inline;
}