.conferences-header {
  background: #eeeeee;
  padding-top: 5px;
  padding-bottom: 5px;

  button {
    .pull-right();
  }
}

.list-conference-title {
  margin-bottom: 10px;
}

.list-conference-name {
  display: inline;
}