<div class="container-fluid height-all">
    <div class="row section-header">
        <div class="col-md-12">
            <span data-moment-format="Last updated %s." ng-moment-ago="lastRefresh">
            </span>

            <button ng-click="refresh()" class="btn btn-primary btn-no-outline" ng-class="{ disabled: autoRefresh }">
                {{ autoRefresh ? "Auto Refreshing.." : "Refresh" }}
            </button>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" ng-click="toggleAutoRefresh()">
                    Auto Refresh
                </label>
            </div>
        </div>
    </div>
    <div class="row height-all-expect-sub-nav vertical-scroll">
        <div class="col-md-12">
            <div ng-repeat="server in servers">
                <h3>{{ server.name }}</h3>

                <div class="alert alert-warning" ng-show="server.error">{{ server.error }}</div>

                <span ng-show="!server.error && server.calls.length == 0">No calls on this server</span>

                <table ng-show="server.calls.length > 0" class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>UUID</th>
                            <th>Direction</th>
                            <th>Created</th>
                            <!--<th>Name</th>-->
                            <th>State</th>
                            <th>Caller Id (Name)</th>
                            <th>IP Address</th>
                            <th>Destination</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="call in server.calls">
                            <td>
                                <a ng-click="selectCall(call)" href="javascript:void(0)">{{ call.uuid }}</a>
                            </td>
                            <td>{{ call.direction }}</td>
                            <td>{{ call.created }}</td>
                            <!--<td>{{ call.name }}</td>-->
                            <td>{{ call.state }}</td>
                            <td>
                                <div class="text-max-width-250" data-toggle="tooltip" data-placement="top" title="{{ call.callerIdName }} ({{ call.callerIdNumber }})">
                                    {{ call.callerIdName }} ({{ call.callerIdNumber }})
                                </div>
                            </td>
                            <td>{{ call.ipAddress }}</td>
                            <td>{{ call.destination }}</td>
                            <td>
                                <button ng-click="copyToClipboard(call.uuid)" class="btn btn-default btn-xs btn-no-outline">
                                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-xs btn-default" ng-confirm-click="killCall(server, call)">Kill</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--
        Call details modal
        -->
    <div id="modalCallDetails" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Call details</h4>
                </div>
                <div class="modal-body">
                    <pre>{{ selectedCall | json }}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>