<div class="container-fluid">
    <div class="row section-header">
        <div class="col-md-12">
            <span data-moment-format="Last updated %s." ng-moment-ago="lastRefresh">
            </span>

            <button ng-click="refresh()" class="btn btn-primary btn-no-outline" ng-class="{ disabled: autoRefresh }">
                {{ autoRefresh ? "Auto Refreshing.." : "Refresh" }}
            </button>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" ng-click="toggleAutoRefresh()">
                    Auto Refresh
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="server in servers">
                <h3>{{ server.name }}</h3>

                <div class="alert alert-warning" ng-show="server.error">{{ server.error }}</div>

                <span ng-show="!server.error && server.conferences.length == 0">No calls on this server</span>

                <table class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>UUID</th>
                            <th>Direction</th>
                            <th>Created</th>
                            <th>Name</th>
                            <th>State</th>
                            <th>Caller Id</th>
                            <th>IP Address</th>
                            <th>Destination</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="call in server.calls">
                            <td>{{ call.uuid }}</td>
                            <td>{{ call.direction }}</td>
                            <td>{{ call.created }}</td>
                            <td>{{ call.name }}</td>
                            <td>{{ call.state }}</td>
                            <td>{{ call.callerIdName }} ({{ call.callerIdNumber }})</td>
                            <td>{{ call.ipAddress }}</td>
                            <td>{{ call.destination }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>